// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;
/plugin/;
/ {
    compatible = "rockchip,rk3566";
    fragment@0 {
        target-path = "/";
        __overlay__ {
            vdd_gpu: vdd-gpu {
                compatible = "regulator-fixed";
                regulator-name = "vdd_gpu";
                regulator-min-microvolt = <900000>;
                regulator-max-microvolt = <900000>;
                regulator-always-on;
            };
        };
    };
    fragment@1 {
        target = <&gpu>;
        __overlay__ {
            mali-supply = <&vdd_gpu>;
            status = "okay";
        };
    };
};
