// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/dts-v1/;
/plugin/;

/ {
    compatible = "rockchip,rk3566";

    fragment@0 {
        target = <&vdd_gpu>;
        __overlay__ {
            regulator-min-microvolt = <825000>;
            regulator-max-microvolt = <1350000>;
            regulator-init-microvolt = <900000>;
            regulator-ramp-delay = <6001>;
            regulator-always-on;
            regulator-boot-on;
            status = "okay";

            regulator-state-mem {
                regulator-off-in-suspend;
            };
        };
    };
    fragment@1 {
        target = <&gpu>;
        __overlay__ {
            status = "okay";
            mali-supply = <&vdd_gpu>;
        };
    };

};
